.home{
    color: radial-gradient( circle farthest-corner at 10% 20%,  #f28b66 0%,  #ffd68a 90% );

    background: radial-gradient( circle farthest-corner at 10% 20%,  #f28b66 0%,  #ffd68a 90% );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    padding: 30px;
    color: white;
}

