
.technoList h1{
    text-align: center;
    background: radial-gradient( circle farthest-corner at 10% 20%,  #f28b66 0%,  #ffd68a 90% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.technos{
    background: radial-gradient( circle farthest-corner at 10% 20%,  #f28b66 0%,  #ffd68a 90% );
    width: 30%;
    display: block;
    margin: 30px auto;
    padding: 30px;
    border-radius: 7px;
}

.technos h2, .technos p{
   color: #fff8ed;
   text-align: center;
}

.technoDelete{
    text-align: end;
}

.btn-delete{    
    background: #f37676;
    border: none;
    border-radius: 3px;
    color: #fff8ed;
    padding: 4px 8px;
    font-weight: bold;
    /* transistion smooth */
    transition: all 0.2s ease-in-out;

}

.btn-delete:hover{    
    background: #f35c5c;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}